<div class="row">
    <div class="columns large-12">
        <p>
            Thanks for using <it>Bab</it>.
        </p>
        <p>
            The source code of the application is available on
            <a href="https://bitbucket.org/damyot/bab">bitbucket</a>.
        </p>
    </div>
</div>

<div class="row" style="margin-top: 100px;">
    <div class="large-4 large-centered columns" style="text-align: center;">
            <img src="images/gopher.svg" width="100px"> 
    </div>

</div>

<div class="row" >
    <div class="large-4 large-centered columns" style="text-align: center;">
            <p>This program has been done with <a href="http://golang.org">Go</a>!</p>
    </div>
   
</div>