<div class="row">
    <div class="columns large-6 large-offset-6">
        <form>
            <fieldset>
                <div class="row">
                    <div class="large-12 columns">
                        <label>email
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>password
                            <input type="password">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button class="button">login</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>